# Dependencies
node_modules/
.pnp
.pnp.js

# Build
dist/
build/

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Prisma
backend/prisma/migrations/dev/

# Coverage
coverage/

# Temp
*.tmp
.vercel
.env*.local

# Archivos locales grandes
DGII_RNC.TXT
*.pdf
